models/*
**/results/*
examples/data_base/*
examples/results/*
reference/*
**/.pdf
inputs/
outputs/
examples/database/*
__pycache__/
examples/output/results/*
**/nohup.out
temp/*
/open-retrievals
/WSDM-Cup-2024
/RAG-competition/*
huixiangdou
/homework/*
/kdd24-aqa/*
**/.out
