tiktoken
lmdeploy
modelscope==1.9.5
transformers
streamlit==1.24.0
sentencepiece
accelerate
langchain==0.0.292
langchain-community
gradio==4.4.0
chromadb==0.4.15
unstructured==0.10.30
markdown==3.3.7
pypdf
fastapi
unicorn
pydantic_settings
pysqlite3-binary 
duckduckgo_search
open-retrievals
rank_bm25
